<ul>
<% @restaurants.each do |restaurant| %>
  <%= link_to restaurant_path(restaurant) do %>
    <h2><%= restaurant.name %></h2>
    <p><%= restaurant.category %></p>
    <p><%= restaurant.address %></p>
  <% end %>
<% end %>
</ul>
